
      
      
      /*http://www.palettable.io/D327A1-000033-F5FAFA-41BAE1-B9D9D9*/

      body{
        margin:0; font-size:18px;
        font-family: "Heebo", sans-serif;
        color:#F5FAFA;
        background:#000020;
        line-height:1.5;
      }
      
      div{
        margin:0;
        padding:0;
      }
      .container{
        width:100%;
      
        height:100%;
        display:block;
        box-sizing: border-box;
      }
      
        .content{
        padding:20px;
      
        height:100%;
       
        box-sizing: border-box;
        z-index:999;
        position:relative;
       
      }
      
      .hero-banner-v1 .content{
         text-align:center;
         background: linear-gradient(45deg, rgba(35,193,202,.5), rgba(236,24,155,.5));
      background-size: 400% 400%;
      animation: gradient-animation 15s ease infinite;
      }
      .hero-banner-v2{
         text-align:left;
      }
      
      .hero-banner-v3 .content{
        color:#000033;
       text-align:center; background:url("https://33.media.tumblr.com/3a419b88f548c533f447505f7e6c4548/tumblr_ngb371R2jq1qcvkauo4_500.gif");
        background-size:cover;
        background-position:center;
      }
      
      .hero-banner-v3 .logo{
        z-index:9999;
        position:relative;
          max-width:250px;
        margin:auto;
        text-align:center;
        margin-top:40px;
        margin-bottom:-20px;
      }
      
      .mask{
        background:#fff;
        width:300px;
        height:300px;
        border-radius:50%;
        position:absolute;
        top:0;
       left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        margin-top:40px;
        
      }
      .logo{
        margin-top:20px;
        font-size:3em;
        font-family:"Heebo";
        font-weight:900;
      }
      .hero-banner-v1 .logo{
        margin:auto;
      }
   
      
      .row{
       
        box-sizing: border-box;
        display: flex;
       position:relative; flex-wrap:wrap;
        justify-content:center;
      background: linear-gradient(to bottom,#000033,#000020);
      }
      
      .hero-banner{
        height:400px;
        background:#000;
        width: 100%;
        box-sizing: border-box;
      }
      
      .column{
       position:relative;
        padding:20px;
        box-sizing: border-box; 
        flex:1 0 400px;
        max-width:400px;
        font-family:"Muli";
      }
      
      .cta{
        border: 1px solid #F5FAFA;
          background: radial-gradient(#000033,#000020);
          border-radius: 6px;
          color: #F5FAFA;
          transition: .4s;
          cursor: pointer;
          outline: none;
        display:inline-block;
        padding:15px 30px;
        border-radius: 12px;
        letter-spacing:4px;
       font-size:1em; 
        box-sizing: border-box;
        cursor: pointer;
        font-weight:400;
        text-transform:uppercase;
       font-family:"Heebo";
      }
      
      .cta:hover{
      
            transform: translateY(-2px);
      }
      
      .hero-banner-v1 .cta{
         margin:20px auto;
      }
      .hero-banner-v2 .cta{
         margin:60px 0;
      }
      
      .hero-banner-v3 .cta{
        margin-top:-60px;
       
      }
      
      .gif{
        background-size:contain;
        background-position:center;
        background-repeat:no-repeat;
      }
      
      .gif-stagger{
        display:block;
        position:relative;
        width:310px;
        min-height:290px;
        height:100%;
        padding:10px;
        margin:auto;
        top: 50%;
        transform: translateY(-50%);
      }
      
      .gif-stagger .gif{
        border:1px solid #000;
        width:150px;
        height:150px;
        display:block;
        position:absolute;
        background-size:contain;
        background-position:center;
        background-repeat:no-repeat;
        box-shadow:-4px -4px 0px rgba(0,0,0,0.5);
       
        
      }
      .gif-stagger #stagger-gif-1{
        margin-left:0px;
        margin-top:0px;
        z-index:9;
        background-image:url("https://33.media.tumblr.com/3a419b88f548c533f447505f7e6c4548/tumblr_ngb371R2jq1qcvkauo4_500.gif");
         animation-name:slideDown;
        animation-duration:.5s;
        animation-delay:.5s;
      }
      .gif-stagger #stagger-gif-2{
        margin-left:80px;
        margin-top:80px;
        z-index:99;
         background-image:url("https://33.media.tumblr.com/3a419b88f548c533f447505f7e6c4548/tumblr_ngb371R2jq1qcvkauo4_500.gif");
         animation-name:slideDown;
        animation-duration:.5s;
        animation-delay:1s;
      }
      .gif-stagger #stagger-gif-3{
        margin-left:160px;
        margin-top:160px;
        z-index:999;
         background-image:url("https://33.media.tumblr.com/3a419b88f548c533f447505f7e6c4548/tumblr_ngb371R2jq1qcvkauo4_500.gif");
         animation-name:slideDown;
        animation-duration:.5s;
        animation-delay:1.5s;
      }
      
      .gif-grid{
        width:auto;
        max-width:450px;
        margin:auto;
      display:block;
         position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding:4px 2px;
      }
      
      .gif-grid .gif{
      
        display:inline-block;
       width: calc(50% - 8px);
          padding-bottom: calc(50% - 8px);
        margin:2px 4px 0px 4px;
      
        
      }
      
      #grid-gif-1{
       background-image:url("https://33.media.tumblr.com/3a419b88f548c533f447505f7e6c4548/tumblr_ngb371R2jq1qcvkauo4_500.gif");
      }
      #grid-gif-2{
       background-image:url("https://33.media.tumblr.com/3a419b88f548c533f447505f7e6c4548/tumblr_ngb371R2jq1qcvkauo4_500.gif");
        background-size:contain;
      }
      #grid-gif-3{
       background-image:url("https://33.media.tumblr.com/3a419b88f548c533f447505f7e6c4548/tumblr_ngb371R2jq1qcvkauo4_500.gif");
      }
      #grid-gif-4{
       background-image:url("https://33.media.tumblr.com/3a419b88f548c533f447505f7e6c4548/tumblr_ngb371R2jq1qcvkauo4_500.gif");
      }
      
      h3{
        font-size:2em;
      
      }
      
      .social-module{
        height:auto;
        min-height:420px;
        display: flex;
        flex-wrap:wrap;
        width: 100%;
        justify-content: center;
      }
      
      .social-module h3{
        flex:0 0 stretch;
        width: 100%;
      }
      
      
      
       .app-icon{
        background:linear-gradient(to bottom left, #E5189D, #41BAE1);
        width:100px;
        height:100px;
        border-radius:20px;
        line-height:107px;
        font-size:1.8em;
         box-sizing: border-box;
         text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
         box-shadow:inset 0 0 0px 3px rgba(255,255,255,0.25);
      }
      
      .hero-banner-v1 .app-icon{
        margin:auto;
      }
      
      .hero-banner-v3 .app-icon, .hero-banner-v3 .cta {
        margin:auto;
        z-index:999999;
        position:relative;
        
      }
      
      .hero-banner-v3 .app-icon{
        text-align:center;
        margin-right: -40px;
        display:inline-block;
        transform:scale(.5);
        transform-origin: 20% 80%;
        color:#fff;
        
      }
      
      
      
      .hero-banner-v2 .app-icon{
        text-align:center;
        margin-right: -40px;
        display:inline-block;
      left:-20px;
        transform:scale(.5);
        transform-origin: 0% 80%;
        
      }
      
      
      .hero-banner-v2 h1{
        display:inline-block;
      }
      
      .smoke{
        width:100%;
        height:150px;
        z-index:999999;
        position:absolute;
        background-image:url("https://media.giphy.com/media/13bGgH9VnEDsuA/giphy.gif");
        bottom:0;
        left:0;
        background-size:cover;
        background-position:bottom;
        opacity:.5;
        mix-blend-mode: overlay;
        box-shadow:inset -6px 0 8px 20px rgba(255,255,255,1),;
      }
      
      
      .hero-banner-v3 .tagline{
        position:relative;
       max-width:200px;
      margin:20px auto; 
        z-index:999999999;
      }
      
      .phone{
       margin:auto;
      
        width:270px;
        height:420px;
        margin-bottom:-20px;
       bottom:-2px;
        padding:65px 25px 0px 25px;
        box-sizing:border-box;
      }
      
      .iphone{
        background-image:url("https://i.imgur.com/x2fhpDR.png");
        background-position:top center;
        background-size:contain;
        background-repeat:no-repeat;
        z-index:9;
        position:relative;
      }
      
      .hero-banner-v1{
      position:relative;
        overflow:hidden;
      }
      .hero-banner-v1 video{
        display:block;
      position:absolute;
        top:0;
        margin:auto;
        width:100%;
      }
      
       
      
      @keyframes gradient-animation {
          0%{background-position:0% 84%}
          50%{background-position:100% 17%}
          100%{background-position:0% 84%}
      }
      .social-module .column{
        padding:0;
      }
      .instagram-post{
        width:calc(50% - 10px);
        padding-bottom:calc(50% - 10px);
        border-radius:3px;
        display:inline-block;
        margin:5px;
        background-size:contain;
        background-repeat:no-repeat;
      }
      
      .social-module h3{
        text-align:center;
      }
      
      .gradient-animation{
         background: linear-gradient(45deg, rgba(35,193,202,1), rgba(236,24,155,1));
      background-size: 400% 400%;
      animation: gradient-animation 15s ease infinite;
      }
      
      
      #bottom-cta-bg .cta{
        position:relative;
        margin:auto;
        margin-top:60px;
        margin-bottom:60px;
      }
      
      #bottom-cta-bg{
        background:none;
        position:relative;
      }
      
      #bottom-cta-bg canvas{
        position:absolute;
        top:0;
        left:0;
      }
      
      .iphone{ box-sizing:border-box;
        z-index:999;
        position:relative;
      }
      
      .screen{
      background:url("https://i.imgur.com/YRn9BOZ.jpg");
        background-size:100% auto;
        background-position:top center;
        background-repeat:no-repeat;
        width:100%;
        position:relative;
        height:100%;
      z-index:-9;
       box-shadow:inset 0 -40px 20px 2px rgba(0,0,0,0.25);
      }
      
      .column ul li{
        list-style:none;
        border-left:4px solid #fff;
        padding-left:10px;
        margin-left:-55px;
        margin-bottom:10px;
      }
      
      
      .row:after{
        display:block;
        content:"";
        width:100%;
        height:2px;
        margin:auto;
       background: linear-gradient(to right, rgba(255,255,255,0) 10%,rgba(255,255,255,.25) 50%,rgba(255,255,255,0) 90%);  
        position:absolute;
       
        bottom:0;
        left:0;
        right:0;
        z-index:999999;
      }
      
      .footer{
        padding:40px;
        width: 100%;
        text-align: center;
      }
      
      @keyframes slideDown{
        from{transform:translateY(-50px);}
        to {transform:translateY(0px);}
      }
      .full-gif{
        width:100%;
        height:100%;
      }
          
      .belowfold .row:nth-child(even){
        flex-direction:row-reverse;
      }